.ordenar-por {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Oswald';
  }

.cantidad-jugadores{
  margin-right: 100px;
  font-size: 15px;
  font-weight: 500;
  color: var(--verde);
}  
  
  .label {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: var(--claro);
    margin-right: 10px;
  }
  
  .select {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: var(--claro);
    background-color: rgba(54, 64, 76, 0.5);
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .select option {
    color: var(--claro);
    background-color: var(--gris-ceniza);
  }
  
  .select:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--verde);
  }
  
  .select::-ms-expand {
    display: none;
  }
  
  