/* COLORES DEL PROYECTO */
:root {
  --verde: #C7F55C;
  --gris: #36404C;
  --gris-ceniza: #292E3A;
  --claro: #FFFFFF;
  --oscuro: #201e1f;
}


.interfaz-jugadores-container {
  background-image: url('./img/futbol2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
}

.interfaz-jugadores-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.863);
  z-index: -1;
}

.footer-container {
  flex-grow: 1; /* Permite que el contenido crezca para llenar el espacio disponible */
}

.main-filters-cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 30px; 
}

.vertical-line {
  width: 1px; /* Ancho de la línea */
  background-color: var(--verde); /* Color de la línea */
  height: 100vh; /* Altura de la línea */
  margin-left: 100px;
}

.main-cards{
  margin-left: 0;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 20px;
 
}

.main-filters{
  width: 400px;
  position: static;
}

