@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");


/* COLORES DEL PROYECTO */
:root {
    --verde: #C7F55C;
    --gris: #36404C;
    --gris-ceniza: #292E3A;
    --claro: #FFFFFF;
    --oscuro: #201e1f;
}


.main-banner-container {
    font-family: 'Oswald';
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, rgba(199, 245, 92, 0.30) 45%, rgba(0, 0, 0, 0.40) 45%);
    height: 175px;
    width: auto;
    padding: 0 auto;
    margin-top: 50px;
}

.left-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0, auto;
    width: 100%;
    color: var(--claro);
}

.foto-jugador {
    width: 200px;
    /* Ajusta el tamaño del marco según tus necesidades */
    height: 200px;
    border-radius: 50%;
    /* Aplica un borde redondo */
    overflow: hidden;
    /* Oculta cualquier parte de la imagen que se extienda más allá del marco */
    margin-top: -10px;

}

.foto-jugador img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajusta la imagen al tamaño del marco manteniendo la proporción */
}

.info-jugador-container {
    display: flex;
    flex-direction: column;

}

.nombre-jugador {
    display: flex;
    flex-direction: column;
}

.dorsal {
    width: 32px;
    height: 52px;
    flex-shrink: 0;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 64px */
    letter-spacing: 4.48px;
    margin-bottom: 10px;
}

.nombre {
    width: 460px;
    height: 52px;
    flex-shrink: 0;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    /* 64px */
    letter-spacing: 4.48px;
}

.apellido {
    color: var(--gris-ceniza);
    font-family: Oswald;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 4.48px;
}

.info-jugador {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 15px;
    color: var(--claro);
}

.info-jugador p {
    padding-right: 10px;
    color: var(--gris-ceniza);
}

.posicion {
    width: auto;
    height: 24px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 20px */
    letter-spacing: 1.4px;
}



.right-banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: var(--claro);
    align-items: center;
}

.equipo {
    margin-bottom: 100px;
    margin-right: 100px;
}

.categoria {
    color: rgba(255, 255, 255, 0.70);
    font-family: Oswald;
    width: 111px;
    height: 22px;
    flex-shrink: 0;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    /* 13px */
    letter-spacing: 0.91px;
}

.club {
    width: 111px;
    height: 22px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 16px */
    letter-spacing: 1.12px;
}


.ficha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 52px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Oswald;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 48px */
    letter-spacing: 3.36px;
}

.icono {
    margin-right: 20px;
}



/* Banner inferior */
.menu-bar-container {
    font-family: 'Oswald';
    display: flex;
   
    flex-direction: row;
    color: var(--claro);
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro casi transparente */
    padding: 10px 0; /* Añade un poco de espacio interno */
    width: 100vh;
    height: 60px;
    align-items: center;
    margin: auto;
    text-transform: uppercase;
  }

.menu-bar {
    list-style: none; /* Quita los estilos de lista predeterminados */
    display: flex; /* Alinea los elementos en línea */
    justify-content: space-around; /* Espaciado equitativo entre los elementos */
    width: 100%; /* Ocupa todo el ancho disponible */
}

.menu-bar li {
    cursor: pointer;
    margin: 0 10px; /* Añade espaciado entre los elementos del menú */
}

.menu-bar li:hover{
    color: var(--verde);
    transition: 0.3s ease-in-out;
}


.menu-bar li.active a {
    background-color: var(--verde); /* Color de fondo verde para el elemento activo */
    font-weight: 500;
}
