/* COLORES DEL PROYECTO */
:root {
    --verde: #C7F55C;
    --gris: #36404C;
    --gris-ceniza: #292E3A;
    --claro: #FFFFFF;
    --oscuro: #201e1f;
  }
  


.banner {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, rgba(54, 64, 76, 0.2) 45%, rgba(0, 0, 0, 0.21) 45%);
    height: 175px;
    width: auto;
    padding: 0 20px;
    color: var(--claro);
    margin-top: 50px;
}

.banner__left {
    display: flex;
    justify-content: flex-start;

    align-items: center;
    width: 50%;
}

.banner__icon-container {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 80px;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--claro);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.banner__icon {
    color: var(--oscuro);
 
}

.banner__text {
    color: #FFF;
    font-family: Oswald;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 3.36px;
}

.banner__right {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 50%;
}

.banner__button {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde);
    color: var(--oscuro);
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    height: 60px;
    width: 250px;
}

.banner__button-icon {
    margin-right: 10px;
}

.banner__button:hover {
    background-color: var(--claro);
}