/* COLORES DEL PROYECTO */
:root {
    --verde: #C7F55C;
    --gris: #36404C;
    --gris-ceniza: #292E3A;
    --claro: #FFFFFF;
    --oscuro: #201e1f;
  }
  


.banner {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, rgba(54, 64, 76, 0.30) 45%, rgba(0, 0, 0, 0.40) 45%);
    height: 175px;
    width: auto;
    padding: 0 auto;
    color: var(--claro);
    margin-top: 50px;

}

.banner__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* width: 50%; */
}

.banner__icon-container {
    display: flex;
    align-items: center;
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--claro);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.banner__icon {
    color: var(--oscuro);
    
}

.banner__text {
    color: #FFF;
    font-family: Oswald;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 3.36px;
}

.banner__right {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 50%;
}

.banner__button {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde);
    color: var(--oscuro);
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    height: 60px;
    width: 250px;
}

.banner__button-icon {
    margin-right: 10px;
}

.banner__button:hover {
    background-color: var(--claro);
}



/* M O D A L */
.banner__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald';
    
  }
  
  .banner__modal-content {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    width: auto;
    max-width: 600px;
  }
  
  .banner__modal-title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    
  }
  
  .banner__modal-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .banner__modal-actions {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 2rem;
  }

  .banner__modal-actions button {
    background-color: var(--gris);
  }

  .banner__modal-actions button:hover {
    background-color: var(--verde);
    color: var(--oscuro);
  }
  

  .banner__modal-select {
    margin-bottom: 1rem;
  }
  
  .banner__modal-select label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 300;
    font-style: inherit;
  }
  
  .banner__modal-select select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .banner__modal-file-input {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .banner__modal-file-label {
    font-weight: 300;
    margin-right: 0.5rem;
  }
  
  .banner__modal-file-input input[type="file"] {
    display: none;
  }
  
  .banner__modal-file-input .banner__modal-file-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #efefef;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  .banner__modal-file-input .banner__modal-file-button:hover {
    background-color: #e2e2e2;
  }
  

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
  }

  .banner2-foto-jugador{
    width: 70%;
    /* Ajusta el tamaño del marco según tus necesidades */
    height: 70%;
    border-radius: 50%;
    /* Aplica un borde redondo */
    overflow: hidden;
    /* Oculta cualquier parte de la imagen que se extienda más allá del marco */
    margin-top: 10px;
    margin-left: 20px;
  }


  
  /* Contenedor del ckeck*/
  .checkmark {
    position: relative;
    margin-top: 70px;
    margin-left: 10px;
    height: 1.3em;
    width: 1.3em;
    background: rgba(151, 149, 149, 0.905);
    border-radius: 50px;
    transition: all 0.7s;
    --spread: 20px;
  }
  
  /* Cambirl el color cuando está seleccionado */
  .container input:checked ~ .checkmark {
    background: black;
    box-shadow: -10px -10px var(--spread) 0px #c7f55c, 0 -10px var(--spread) 0px  #c7f55c, 10px -10px var(--spread) 0px  #c7f55c, 10px 0 var(--spread) 0px  #c7f55c, 10px 10px var(--spread) 0px  #c7f55c, 0 10px var(--spread) 0px  #c7f55c, -10px 10px var(--spread) 0px  #c7f55c;
  }
  
  /*Como se ve cuando no está seleccionado */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Como se ve cuand no está seleccionado  */
  .container input:checked ~ .checkmark:after {
    display: block;
    animation: checkmark 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  }
  
  /* Stilos del indicador del ckeck */
  .container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid #c7f55c;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
  }
  
  /*Animación */
  @keyframes checkmark {
    from {
      transform: rotate(-45deg) scale(0);
    }
  
    to {
      transform: rotate(45deg) scale(1);
    }
  }
  
  /* Stilo del label del check*/
  .container span {
    margin-left: 2em;
    color: black;
    font-weight: bold;
  }
  

  input[type="checkbox"] {
    display: none;
  }
  
  label svg {
    width: 44px;
    height: 44px;
    fill: none;
    /* stroke: #000; */
    stroke-width: 2px;
  }
  
  input[type="checkbox"]:checked + label svg {
    fill: #FFC107;
    animation: pop_42 0.5s ease-out;
  }
  
  @keyframes pop_42 {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.5);
    }
  
    100% {
      transform: scale(1);
    }
  }





/*    estrellas */

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin-top: 25px;
  
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.container svg {
  position: relative;
  margin-top: 40px;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.3s;
  fill: #ffeb49;
}

/* .container input:checked ~ svg {
  fill: #ffeb49;
} */

