@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

:root {
    --verde: #C7F55C;
    --gris: #36404C;
    --gris-ceniza: #292E3A;
    --claro: #FFFFFF;
    --oscuro: #201e1f;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .card {
    width: 300px;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(112, 112, 112, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .card-main {
    padding: 16px;
  }
  
  .card-header {
    position: relative;
    height: 200px;
  }
  
  .card-header-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.7;
  }
  
  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  
  .card-name {
    font-family: Oswald, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    color: var(--claro);
    text-align: center;
    margin-bottom: 10px;
  }

  .card-name span{
    color: var(--verde);
  }
  
  .card-attributes {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .card-attribute {
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-bottom: 8px;
  }
  
  

  .card-attribute__value {
    font-family: Oswald, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-right: 4px;
    color: var(--verde);
  }
  
  .card-attribute__name {
    font-family: Oswald, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--claro);
  }

  .media-global{
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    text-align: center;
    font-family: 'Oswald',sans-serif;
  }

  .globalmedia-number{
    
    font-weight: bold;
    font-size: 35px;
    color: var(--verde);
    margin-left: 20px;
  }

.globalmedia-name{
    font-size: 25px;
    font-weight: bold;
    color: var(--claro);
}




  .rompedor-button {
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, #FF416C, #FF4B2B);
    width: 100%;
    display: block;
    padding: 12px 0px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease;
  }
  
  .rompedor-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 65, 108, 0.8), rgba(255, 75, 43, 0.8));
    z-index: -1;
    transition: all 0.3s ease;
  }
  
  .rompedor-button:hover {
    color: white;
    background: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .rompedor-button:hover:before {
    left: 0;
  }
  
  .rompedor-button:after {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 65, 108, 0.8), rgba(255, 75, 43, 0.8));
    z-index: -1;
    transition: all 0.3s ease;
  }
  
  .rompedor-button:hover:after {
    right: 0;
  }
  
  .button-container {
    margin-top: 10px;
    padding: 0px 10px 10px 10px;
    box-sizing: border-box;
  }

  .button-container a {
    text-decoration: none;
  }
  
  