@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

/* COLORES DEL PROYECTO */
:root {
  --verde: #C7F55C;
  --gris: #36404C;
  --gris-ceniza: #292E3A;
  --claro: #FFFFFF;
  --oscuro: #201e1f;
}




* {
  padding: 0;
  margin: 0; 
  box-sizing:border-box  
  
}


/* Landing.css */
.landing {
  /* Estilos para el componente Landing */
  width: 100%;
  height: 100vh; 
}

/* PRIMERA SECCIÓN */

.first-section {
  /* Estilos para la primera sección */
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
  padding: 100px;
  border: none;
  justify-content: space-around;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con opacidad */
  z-index: 1; /* Asegura que esté encima del video */
}

.first-section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Coloca el video detrás del contenido */ 
}

.column {
  /* Estilos para las columnas */
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  padding: 20px;
  z-index: 1; /* Asegura que el contenido aparezca por encima del video */
  align-items: flex-start; /* Alinea el contenido a la izquierda */
}

.column h1 {
  /* Estilos para el h1 */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgba(255, 255, 255);
  font-size: 159.255px;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: 87%;
  letter-spacing: 7.166px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent; /* Relleno de texto transparente */
  -webkit-text-stroke-width: 2px; /* Grosor del contorno del texto */
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.8); /* Color del contorno del texto */
}


.NewEra {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: #FFF;
  font-size: 153.122px;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 87%;
  letter-spacing: 6.891px;
  text-transform: uppercase;
  -webkit-text-fill-color:white;
  
}


.parrafo {
  /* Estilos para el p */
  
  display: flex;
  width: 613px;
  flex-direction: column;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: "Space Mono";
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.72px;
  margin-right: 55px;
  margin-top: 30px;
}

.green-text {
  color: var(--verde);
  font-weight: bold;
}

/* Resto de estilos CSS */


.column button {
  /* Estilos para el botón */
  width: 248.087px;
  height: 81.028px;
  flex-shrink: 0;
  background-color: var(--verde); /* Utiliza el color verde de la empresa */
  border: none;
  font-size: 23.433px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  line-height: 87%;
  letter-spacing: 1.054px;
  text-transform: uppercase;
  border-radius: 5px;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: var(--oscuro); /* Utiliza el color claro de la empresa */
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
  cursor: pointer;
}

.column button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--gris-ceniza); /* Utiliza el color gris ceniza de la empresa */
  opacity: 0.5;
  transform: skewX(-20deg) translateX(-100%);
  transition: transform 0.3s;
}

.column button:hover {
  background-color: var(--gris); /* Utiliza el color gris de la empresa */
  transform: translateY(-4px);
  color: white;
}

.column button:hover::before {
  transform: skewX(-20deg) translateX(0);
}

.column button span {
  position: relative;
  z-index: 2;
}

.column button:active {
  transform: translateY(0);
}

.column button:active::before {
  transform: skewX(-20deg) translateX(100%);
}


.green-rectangle {
  margin-top: 20px;
  width: 89.632px;
  height: 6.402px;
  flex-shrink: 0;
  background-color: #C7F55C;
}

.balon{
  margin-left: 30px;
}

.botones{
  margin: auto;
  display: flex;
  flex-direction: row;
}

.botones button{
  margin-right: 20px ;
}

/* SEGUNDA SECCIÓN */
.second-section {
  /* Estilos para la segunda sección */
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 100px;
}

.column1-section2 {
  /* Estilos para la primera columna */
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
}

.column1-section2 h2 {
  color: var(--gris); /* Utiliza el color gris de la empresa */
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 20px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  transition: color 0.3s;
}

.column1-section2 h2::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -20px;
  width: 10px;
  height: 50px;
  background-color: var(--verde); /* Utiliza el color verde de la empresa */
  transform: translateY(-50%);
  transition: background-color 0.3s;
}

.column1-section2:hover h2 {
  color: var(--oscuro); /* Utiliza el color oscuro de la empresa */
}

.column1-section2:hover h2::before {
  background-color: var(--gris); /* Utiliza el color gris de la empresa */
}

.column1-section2 p {
  color: var(--gris); /* Utiliza el color gris de la empresa */
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  transition: color 0.3s;
}

.column1-section2 p::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--verde); /* Utiliza el color verde de la empresa */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.column1-section2:hover p {
  color: var(--oscuro); /* Utiliza el color oscuro de la empresa */
}

.column1-section2:hover p::before {
  transform: scaleX(1);
}


.column1-section2 button {
  margin-top: 30px;
  background-color: var(--gris); /* Color de fondo rojo intenso */
  color: #fff; /* Color de texto blanco */
  border: none;
  padding: 15px 30px; /* Ajusta el padding según tus necesidades */
  font-size: 18px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de fuente en negrita */
  text-transform: uppercase;
  letter-spacing: 2px; /* Espaciado entre letras */
  border-radius: 50px; /* Borde redondeado */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4); /* Sombra para dar profundidad */
  transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
}

.column1-section2 button:hover {
  color: var(--oscuro);
  background-color: var(--verde); /* Color de fondo rojo más intenso al pasar el ratón */
  transform: translateY(-2px); /* Efecto de desplazamiento hacia arriba */
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.6); /* Sombra más pronunciada al pasar el ratón */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.column1-section2 button:active {
  transform: translateY(0); /* Vuelve a la posición original al hacer clic */
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.6); /* Sombra menos pronunciada al hacer clic */
}


.column2-section2 {
  /* Estilos para la segunda columna */
  flex-basis: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.column2-section2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30px;
  background-color: var(--verde); /* Color de línea rojo intenso */
  transform: scaleX(0.3);
  transform-origin: left;
 
  z-index: 1; /* Asegura que la línea esté por encima de la imagen */
}

.column2-section2 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: brightness(70%); /* Reduce el brillo de la imagen */
  border-radius: 2px; /* Borde redondeado */
  transition: filter 0.3s; /* Transición suave para el filtro */
}

.column2-section2:hover img {
  filter: brightness(100%); /* Restaura el brillo completo de la imagen al pasar el ratón */
}


/* TERCERA SECCIÓN */
.third-section {
  background-color: var(--gris-ceniza);
  padding: 100px 0;
  text-align: center;
}

.service-header {
  text-align: left;
  margin-bottom: 40px;
  color: var(--claro);
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-left: 100px ;
  margin-bottom: 80px;
}


.service-header .highlight {
  color: var(--verde);
}

.service-header p {
  color: var(--claro);
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  margin-top: 10px;
  font-weight: 300;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-row {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.service:last-child {
  margin-right: 0;
}

.service svg {
  color: var(--verde);
  font-size: 40px;
  transition: filter 0.3s ease;
}

.service:hover svg {
  filter: brightness(150%);
}


.service p {
  color: var(--claro);
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin-top: 10px;
}







/* Media queries para dispositivos móviles */
@media (max-width: 767px) {
  .first-section {
    flex-direction: column;
    padding: 50px;
  }

  .column {
    align-items: center;
    text-align: center;
  }

  .column h1 {
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: 2px;
  }

  .NewEra {
    font-size: 40px;
    letter-spacing: 2px;
  }

  .parrafo {
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
    font-size: 12px;
    padding: 20px;
    text-align: left;
  }

  .botones {
    flex-direction: column;
  }

  .botones button {
    margin: 10px 0;
    width: 180px;
    height: 60px;
    font-size: 16px;
  }

  .balon {
   display: none;
  }

  .second-section {
    flex-direction: column;
    padding: 50px;
  }

  .column1-section2 {
    margin-bottom: 30px;
  }

  .column1-section2 h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .column1-section2 p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .column1-section2 button {
    font-size: 16px;
    padding: 10px 20px;
  }

  .service p{
    font-size: 12px;
  }

  .service-header{
    margin-left: 20px;
  }
}

/* Media queries para tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .first-section {
    padding: 50px;
  }

  
  .column h1 {
    font-size: 72px;
    line-height: 1.1;
    letter-spacing: 3px;
  }

  .NewEra {
    font-size: 64px;
    letter-spacing: 3px;
  }

  .parrafo {
    width: 80%;
    margin-right: 0;
    margin-top: 30px;
  }

  .botones {
    margin-top: 100px;
    flex-direction: row;
  }

  .balon {
    width: 200px;
    margin-left: 0px;
   
  }

  .second-section {
    padding: 50px;
  }

  .column1-section2 h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .column1-section2 p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .column1-section2 button {
    font-size: 18px;
    padding: 15px 30px;
  }

  .service-header{
    margin-left: 35px;
  }
}