.chartsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* or justify-content: space-evenly; */
}

.fisicasRadar,
.principalesRadar,
.tacticasRadar {
    /* Add any specific styles for individual radar chart containers if needed */
    flex: 1 1 30%;
    /* Adjust the width of each chart as per your requirement */
}